/vendor/
/node_modules/
wp-tests-lib
/test-results/
/.phpunit.result.cache
.vscode/*
**/build/**
src/blocks/eics-icon/build/
src/blocks/eics-icon/node_modules/
src/blocks/esi-icon/node_modules/

.idea/*
.DS_Store
